.signupModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--dark-grey);
}

.signupModal {
    position: relative;
    width: 70%;
    background: #fff;
    border-radius: 4px;
    padding: 40px;
    padding-bottom: 0px;
}

.closeModalContainer:hover {
    cursor: pointer;
}

.closeModal {
    position: absolute;
    top: 30px;
    right: 30px;
    color: var(--dark-grey);
}

.signupModalTagline {
    margin-bottom: 20px;

    position: relative;
    left: -2.4px;
    font-size: 83px;
    font-family: "SofiaPro-Bold", sans-serif;
    padding-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: -1;
    color: #484848;
}

.mainElements {
    margin-left: 20px;
    margin-right: 20px;
}

.leftContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 50%;
    padding: 0 40px;
    margin-left: -24px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-top: 128px;
}

.tagline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.tagline > div {
    position: relative;
    left: -2.4px;
    font-size: 83px;
    font-family: "SofiaPro-Bold", sans-serif;
    padding-bottom: 5px;
}

.subTagline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.subTagline > div {
    color: var(--light-grey);
}

.firstSubTagline {
	margin-bottom: 3px;
	font-size: 30px;
    font-family: "SofiaPro-Bold", sans-serif;
}

.lastSubTagline {
	font-size: 28px;
    margin-bottom: 50px;
}

.signUpContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.callToAction {
    font-size: 20px;
}

.callToAction {
    margin-top: 5px;
    margin-bottom: 8px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputContainer {
    width: 100%;
    margin-top: -20px;
}

.nameInputContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.spacer {
    width: 40px;
}

.buttonContainer {
    position: relative;
    top: -10px;
    height: 100%;
    width: 100%;
}

.buttonShadow,
.buttonContainer > input[type="submit"] {
    position: relative;
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 4px;
    outline: none;
}

.buttonShadow {
    top: 30px;
    padding: 0;
    background-color: var(--dark-pink);
    z-index: 1;
}

.buttonContainer > input[type="submit"] {
    top: -30px;
    padding-bottom: 2px;
    color: white;
    background-color: var(--pink);
    cursor: pointer;
    font-family: "SofiaPro-Bold", sans-serif;
    transition: all 0.14s ease;
    z-index: 4;
}

.buttonContainer > input[type="submit"]:hover {
    transform: translateY(-3px);
}

.buttonContainer > input[type="submit"]:active {
    transform: translateY(0px);
    background-color: var(--dark-pink);
}

.inputField {
    display: flex;
    flex-flow: column-reverse;
    width: 100%;
}

label, .inputField input {
    transition: all 0.10s ease;
}

label {
    position: relative;
    top: 52px;
    left: 20px;
    color: var(--light-grey);
    width: calc(100% - 20px);
    transform-origin: left bottom;
    line-height: 22px;
}

.inputField input:placeholder-shown + label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: text;
}

.inputField input::placeholder {
    transition: inherit;
    opacity: 0;
    position: relative;
    top: 0px;
}

.inputField input:not(:placeholder-shown) + label,
.inputField input:focus + label {
    top: 38px;
    cursor: pointer;
}

.inputField input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #ebeff2;
    height: 68px;
    line-height: 74px;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 54px;
}

.inputField input:hover {
    background-color: #fff;
    box-shadow: 0 0 0 4px #ebeff2;
}

.inputField input:focus {
    background-color: #fff;
    box-shadow: 0 0 0 4px var(--purple);
}

.error {
    margin-top: 12px;
    color: var(--pink);
}

.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 360px;
    padding-top: 20px;
}

.video {
    width: 100%;
}

.downloadContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--dark-grey);
    padding: 30px 0;
}

.downloadTagline {
    font-size: 26px;
    color: white;
    margin-bottom: 4px;
}

.appDownloadContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.appDownload {
    max-height: 100%;
    min-width: 12%;
    margin: 4px;
}

.comingSoonContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 85%);
}

.comingSoonText {
    color: white;
    font-size: 28px;
    margin-bottom: -4px;
}


/* Dimension checks */

@media screen and (max-width: 1389px) {
    .content {
        /*padding-top: 265px;*/
    }

    .tagline > div {
        font-size: 70px;
    }
}

@media screen and (max-width: 1221px) {
    .content {
        padding-top: 122px;
    }
}

@media screen and (max-width: 1174px) {
    .tagline > div {
        font-size: 60px;
    }
}

@media screen and (max-width: 1127px) {
    .mainElements {
        margin: 0;
    }

    .leftContainer {
        padding-left: 22px;
    }
}

@media screen and (max-height: 900px) and (max-width: 1025px) {
	.container {
        height: 1200px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 1200px;
    }

    .mainElements {
        margin: 0;
    }

    .leftContainer {
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        margin: 0;
        padding-top: 150px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .content {
        padding: 0;
    }

    .videoContainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
        padding-top: 26px;
        height: auto;
    }

    .video {
        width: 78%;
    }
}

@media screen and (max-width: 985px) {
    .videoContainer {
        padding-top: 12px;
    }
}

@media screen and (max-width: 811px) {
    .tagline > div {
        font-size: 60px;
    }

    .videoContainer {
        padding-top: 10px;
    }
}

@media screen and (max-width: 755px) {
    .videoContainer {
        padding-top: 0;
    }
}

@media screen and (max-width: 710px) {
    .container {
        height: 1340px;
    }

    .tagline > div {
        font-size: 50px;
    }

    .nameInputContainer {
        flex-direction: column;
    }

    .spacer {
        display: none;
    }

    .videoContainer {
        padding-top: 28px;
    }
}

@media screen and (max-width: 647px) {
    .videoContainer {
        padding-top: 26px;
    }
}

@media screen and (max-width: 614px) {
    .videoContainer {
        padding-top: 42px;
    }

    .video {
        width: 64%;
    }
}

@media screen and (max-width: 530px) {
    .container {
        height: 1400px;
    }

    .tagline > div {
        line-height: 50px;
        margin-bottom: 7px;
    }

    .videoContainer {
        padding-top: 46px;
    }

    .video {
        width: 72%;
    }
}

@media screen and (max-width: 513px) {
    .videoContainer {
        padding-top: 20px;
    }
}

@media screen and (max-width: 450px) {
    .videoContainer {
        padding-top: 18px;
    }
}

@media screen and (max-width: 446px) {
    .container {
        height: 1460px;
    }

    .videoContainer {
        padding-top: 22px;
    }
}

@media screen and (max-width: 436px) {
    .videoContainer {
        padding-top: 20px;
    }
}


/* Resolution checks */

@media (min-resolution: 144dpi) {
    .buttonContainer > input[type="submit"] {
        padding-bottom: 0;
        padding-top: 3px;
    }

    /*.form input[type="email"]::placeholder,
    .form input[type="text"]::placeholder {
        top: 3px;
    }*/
}

